
#capa2 { height: 50px; background-color: white; opacity: 1;
     transition: width 2s, background-color 3s linear, opacity 3s ease-out 3s;
     -webkit-transition: width 2s, background-color 3s linear, opacity 3s ease-out 3s;
 }
#capa2:hover { width: 20px; background-color: green; opacity: 0.2;}
.disponible{
    color: green;
}
#capa3 {  height: 50px; background-color: white; opacity: 1;
    transition: width 2s, background-color 3s linear, opacity 3s ease-out 3s;
    -webkit-transition: width 2s, background-color 3s linear, opacity 3s ease-out 3s;
}
#capa3:hover {  background-color: red; opacity: 0.2;}
.disponible{
    color: red;
}
#capa1 { width: 10px; height: 50px; background-color: white; opacity: 1;
    transition: width 2s, background-color 3s linear, opacity 3s ease-out 3s;
    -webkit-transition: width 2s, background-color 3s linear, opacity 3s ease-out 3s;
}
#capa1:hover { width: 20px; background-color: yellow; opacity: 0.2;}
.disponible{
    color: yellow;
}
.ocupado{
    color: red;
}
.reservado{
    color: yellow;
}

.icon-instagram{
    color: yellow;
}
.icon-youtube {

}
.cama{
    font-size: 1.5em;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}


.icon-facebook{
    color: green;
}
.icon-instagram:hover{
    color: yellow;
}
.icon-facebook:hover{
    color: green;
}
.icon-twitter:hover{
     color: red;
 }
.icon-twitter{
    color: red;
}
.letras{
  font-size: 10px;
    color: black;


}
.letras1{
    font-size: 13px;
    color: black;
}

@media only screen and (min-width : 150px) and (max-width : 900px) {


        #table1 {
            display: block;
            overflow-x: auto;

    }
}
@media only screen and (min-width : 150px) and (max-width : 700px) {

    #table-responsive {
        display: block;
        overflow-x: auto;

    }
}
@media only screen and (min-width : 150px) and (max-width : 700px) {

    #table2 {
        display: block;
        overflow-x: auto;

    }
}