body{
   font-family: "Open Sans", sans-serif;;
    background: white;
    background: no-repeat;
background-size: cover;
    background-position: center center;
}
ul{
    list-style: none;
}


.horizontal .inicio{
    width: 16%;
    border: 1px black;
    background: #1A5276;

}
.horizontal .clientes{
    width: 21%;
    border: 1px black;
    background: #008B8B;
}
.horizontal .ventas{
     width: 20%;
     border: 1px black;
     background: #FF8C00;
 }
.horizontal .recepcion{
    width: 20%;
    background: #2E8B57;
}
.horizontal .informes{
    width: 22%;
    height: 30%;
    border: 1px black;
    background: #00BFFF;
}
.papel{
    width: 35px;
    margin-right: 5px;
}

.fa{
    margin-right: 15px;

}
.fa.fa-info-circle, .fa.fa-user, .fa.fa-shopping-cart{
    font-size: 2em;

}
.recepcionista{
    width: 17%;
}
.izquierda{
    margin-left: 20px;
}

.horizontal{
    padding-left: 0px;
    margin-bottom: 70px;
}

.horizontal > li {
    float:left;
}

.horizontal li a {

    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
font-size: 120%;
    font-weight: bold;


}

.horizontal  li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.horizontal  li:hover > ul {
    display:block;
}

.horizontal  li ul li {
    position:relative;
}

.horizontal  li ul li a:hover {
    background: grey;

}

.horizontal  li ul li ul {
    right:-140px;
    top:0px;
}
.sub-menu-informe{
    width: 162%;
    position: absolute;
   background: #00BFFF;
    right: 39.8px;

z-index: 1000;
}
.sub-menu-informe a{
    display: block;
    padding: 1px;
    font-family: "Open Sans", sans-serif;;
    text-decoration: none;
}

.sub-menu-clientes{
     width: 149%;
     position: absolute;
     background: #008B8B;
     right: 39.8px;
    z-index: 1000;

 }
.sub-menu-clientes a{
    display: block;
    padding: 1px;
    font-family: "Open Sans", sans-serif;;
    text-decoration: none;
}

.sub-menu-ventas{
    width: 154%;
    position: absolute;
    background: #FF8C00;
    right: 39.8px;
    z-index: 1000;

}
.sub-menu-ventas a{
    display: block;
    padding: 1px;
    font-family: "Open Sans", sans-serif;;
    text-decoration: none;
}

.informacion{
    width: 100%;
    margin: 0 auto;
}

.col-md-4{
    border: 1px solid #ccc;
    padding: 8px;
}

.informacion .col-md-4 .iconos{
    width: 100px;
}

.secundary{
    margin-top: 30px;
}

.information-title{
    font-size: 22px;
    display: inline-block;
    width: 130px;
    margin-left: 16px;
    position: static;
}

.numeros{
    display: block;
    font-size: 38px;
    margin-left:70%;
    margin-top:-55px;
    position: static;
}
/*iphone*/

@media only screen and (min-width : 150px) and (max-width : 350px){
    .horizontal li a {
        font-family: "Open Sans", sans-serif;
        text-decoration:none;
        display:block;
        font-size: 100%;
        font-weight:500;
    }
    .fa.fa-info-circle{
        font-size: 3em;

    }
    .fa.fa-user, .fa.fa-shopping-cart{
        font-size: 3.4em;
        margin-bottom: 5%;
    }
    .horizontal .inicio{
        width: 18%;
        background: #1A5276;
        display: none;
        height: 50%;

    }
    .horizontal .clientes{
        width: 24%;
        background: #008B8B;
        margin-bottom: 10%;
    }
    .horizontal .ventas{
        width: 25%;
        background: #FF8C00;
        margin-bottom: 10%;
    }
    .horizontal .recepcion{
        width: 26%;
        background: #2E8B57;
    }
    .horizontal .informes{
        width: 25%;
        margin-bottom: 10%;

        background: #00BFFF;
    }
    .papel{
        width: 54%;
        margin-left: 6%;
        margin-bottom: 5%;
    }

    .recepcionista{
        width: 80%;

    }

    .horizontal{
        margin-bottom: 40%;
    }

    .horizontal > li {
        float:left;
    }

    .horizontal li a {
        display:block;
        font-size: 64%;
        padding-top: 15%;
        font-weight: 200;


    }


    .horizontal  li:hover > ul {
        display:block;
    }

    .horizontal  li ul li {
        position:relative;
    }

    .horizontal  li ul li a:hover {
        background: grey;
    }

    .horizontal  li ul li ul {
        right:-140px;
        top:0px;
    }
    .sub-menu-informe{
        width: 75%;
        position: absolute;
        background: #00BFFF;
        right: 39.8px;
        z-index: 100;

    }
    .sub-menu-informe a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;


    }

    .sub-menu-clientes{
        width: 70%;
        position: absolute;
        background: #008B8B;
        right: 39.8px;
        z-index: 100;
        font-size: 76%;

    }
    .sub-menu-clientes a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;

    }

    .sub-menu-ventas{
        width: 69%;
        position: absolute;
        background: #FF8C00;
        right: 39.8px;
        z-index: 100;
        font-size: 90%;
    }
    .sub-menu-ventas a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;

    }
    .information-title{
        font-size: 22px;
        display: inline-block;
        width: 130px;
        margin-left: 16px;
        position: static;

    }
    .col-md-4{
        margin-bottom: 5%;
    }
    .sub-menu-informe  .subtitulos {
        font-size: 100%;
    }
    .sub-menu-clientes .subtitulos{
        font-size: 100%;
    }
    .sub-menu-ventas .subtitulos{
        font-size: 100%;
    }
}
/*galaxy*/

@media only screen and (min-width : 350px) and (max-width : 400px){
    .horizontal li a {
        font-family: "Open Sans", sans-serif;
        text-decoration:none;
        display:block;
        font-size: 200%;
        font-weight:500;
    }
    .fa.fa-info-circle{
        font-size: 5em;

    }
    .fa.fa-user, .fa.fa-shopping-cart{
        font-size: 4em;
        margin-bottom: 5%;
    }
    .horizontal .inicio{
        width: 18%;
        background: #1A5276;
        display: none;
        height: 50%;

    }
    .horizontal .clientes{
        width: 24%;
        background: #008B8B;
        margin-bottom: 10%;
    }
    .horizontal .ventas{
        width: 25%;
        background: #FF8C00;
        margin-bottom: 10%;
    }
    .horizontal .recepcion{
        width: 26%;
        background: #2E8B57;
    }
    .horizontal .informes{
        width: 25%;
        margin-bottom: 10%;

        background: #00BFFF;
    }
    .papel{
        width: 64%;
        margin-left: 6%;
        margin-bottom: 5%;
    }

    .recepcionista{
        width: 84%;

    }

    .horizontal{
        margin-bottom: 40%;
    }

    .horizontal > li {
        float:left;
    }

    .horizontal li a {
        display:block;
        font-size: 70%;
        padding-top: 15%;
        font-weight: 200;


    }


    .horizontal  li:hover > ul {
        display:block;
    }

    .horizontal  li ul li {
        position:relative;
    }

    .horizontal  li ul li a:hover {
        background: grey;
    }

    .horizontal  li ul li ul {
        right:-140px;
        top:0px;
    }
    .sub-menu-informe{
        width: 85%;
        position: absolute;
        background: #00BFFF;
        right: 39.8px;
        z-index: 100;

    }
    .sub-menu-informe a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;

    }

    .sub-menu-clientes{
        width: 64%;
        position: absolute;
        background: #008B8B;
        right: 39.8px;
        z-index: 100;

    }
    .sub-menu-clientes a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;
    }

    .sub-menu-ventas{
        width: 70%;
        position: absolute;
        background: #FF8C00;
        right: 39.8px;
        z-index: 100;
    }
    .sub-menu-ventas a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;
    }
    .information-title{
        font-size: 24px;
        display: inline-block;
        width: 130px;
        margin-left: 16px;
        position: static;
    }
    .col-md-4{
        margin-bottom: 5%;
    }
    .sub-menu-informe  .subtitulos {
        font-size: 100%;
    }
    .sub-menu-clientes .subtitulos{
        font-size: 100%;
    }
    .sub-menu-ventas .subtitulos{
        font-size: 100%;
    }
}
/*nexus----*/
@media only screen and (min-width : 400px) and (max-width : 500px){
    .horizontal li a {
        font-family: "Open Sans", sans-serif;
        text-decoration:none;
        display:block;
        font-size: 200%;
        font-weight:500;
    }
    .fa.fa-info-circle{
        font-size: 5em;

    }
    .fa.fa-user, .fa.fa-shopping-cart{
        font-size: 4.3em;
        margin-bottom: 5%;
    }
    .horizontal .inicio{
        width: 18%;
        background: #1A5276;
        display: none;
        height: 50%;

    }
    .horizontal .clientes{
        width: 24%;
        background: #008B8B;
        margin-bottom: 10%;
    }
    .horizontal .ventas{
        width: 25%;
        background: #FF8C00;
        margin-bottom: 10%;
    }
    .horizontal .recepcion{
        width: 26%;
        background: #2E8B57;
    }
    .horizontal .informes{
        width: 25%;
        margin-bottom: 10%;

        background: #00BFFF;
    }
    .papel{
        width: 57%;
        margin-left: 6%;
        margin-bottom: 5%;
    }

    .recepcionista{
        width: 76%;

    }

    .horizontal{
        margin-bottom: 40%;
    }

    .horizontal > li {
        float:left;
    }

    .horizontal li a {
        display:block;
        font-size: 70%;
        padding-top: 15%;
        font-weight: 200;


    }


    .horizontal  li:hover > ul {
        display:block;
    }

    .horizontal  li ul li {
        position:relative;
    }

    .horizontal  li ul li a:hover {
        background: grey;
    }

    .horizontal  li ul li ul {
        right:-140px;
        top:0px;
    }
    .sub-menu-informe{
        width: 98%;
        position: absolute;
        background: #00BFFF;
        right: 39.8px;
        z-index: 100;

    }
    .sub-menu-informe a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;

    }

    .sub-menu-clientes{
        width: 74%;
        position: absolute;
        background: #008B8B;
        right: 39.8px;
        z-index: 100;

    }
    .sub-menu-clientes a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;
    }

    .sub-menu-ventas{
        width: 80%;
        position: absolute;
        background: #FF8C00;
        right: 39.8px;
        z-index: 100;
    }
    .sub-menu-ventas a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;
    }
    .information-title{
        font-size: 22px;
        display: inline-block;
        width: 130px;
        margin-left: 16px;
        position: static;
    }
    .col-md-4{
        margin-bottom: 5%;
    }
    .sub-menu-informe  .subtitulos {
        font-size: 100%;
    }
    .sub-menu-clientes .subtitulos{
        font-size: 100%;
    }
    .sub-menu-ventas .subtitulos{
        font-size: 100%;
    }
}

@media only screen and (min-width : 600px) and (max-width : 1000px){
    .horizontal li a {
        font-family: "Open Sans", sans-serif;
        text-decoration:none;
        display:block;
        font-size: 200%;
        font-weight:500;
    }
    .fa.fa-info-circle{
        font-size: 4em;

    }
    .fa.fa-user, .fa.fa-shopping-cart{
        font-size: 3em;
        margin-bottom: 5%;
    }
    .horizontal .inicio{
        width: 18%;
        background: #1A5276;

        height: 50%;

    }
    .horizontal .clientes{
        width: 24%;
        background: #008B8B;
        margin-bottom: 10%;
    }
    .horizontal .ventas{
        width: 25%;
        background: #FF8C00;
        margin-bottom: 10%;
    }
    .horizontal .recepcion{
        width: 26%;
        background: #2E8B57;
    }
    .horizontal .informes{
        width: 25%;
        margin-bottom: 10%;

        background: #00BFFF;
    }
    .papel{
        width: 57%;
        margin-left: 6%;
        margin-bottom: 5%;
    }
    .recepcionista{
          width: 26%;
      }
    .horizontal .inicio{
        width: 16%;
        border: 1px black;
        background: #1A5276;
        margin-bottom: 4%;
    }
    .horizontal .clientes{
        width: 21%;
        border: 1px black;
        background: #008B8B;
        margin-bottom: 4%;
    }
    .horizontal .ventas{
        width: 20%;
        border: 1px black;
        background: #FF8C00;
        margin-bottom: 4%;
    }
    .horizontal .recepcion{
        width: 21%;
        background: #2E8B57;
        margin-bottom: 4%;
    }
    .horizontal .informes{
        width: 22%;
        height: 30%;
        border: 1px black;
        background: #00BFFF;
        margin-bottom: 4%;
    }
    .papel{
        width: 20%;
        margin-left: 3%;
        margin-bottom: 5%;
    }

    .recepcionista{
        width: 52.19px;
    }

    .horizontal{
        margin-bottom: 40%;
    }

    .horizontal > li {
        float:left;
    }

    .horizontal li a {
        display:block;
        font-size: 90%;
        padding-top: 15%;
        font-weight: 200;

    }


    .horizontal  li:hover > ul {
        display:block;
    }

    .horizontal  li ul li {
        position:relative;
    }

    .horizontal  li ul li a:hover {
        background: grey;
    }

    .horizontal  li ul li ul {
        right:-140px;
        top:0px;
    }
    .sub-menu-informe{
        width: 130%;
        position: absolute;
        background: #00BFFF;
        right: 39.8px;
        z-index: 100;

    }
    .sub-menu-informe a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;

    }

    .sub-menu-clientes{
        width: 120%;
        position: absolute;
        background: #008B8B;
        right: 39.8px;
        z-index: 100;

    }
    .sub-menu-clientes a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;
    }

    .sub-menu-ventas{
        width: 123%;
        position: absolute;
        background: #FF8C00;
        right: 39.8px;
        z-index: 100;
    }
    .sub-menu-ventas a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;
    }
    .information-title{
        font-size: 22px;
        display: inline-block;
        width: 130px;
        margin-left: 16px;
        position: static;
    }
    .col-md-4{
        margin-bottom: 5%;
    }
    .sub-menu-informe  .subtitulos {
        font-size: 100%;
    }
    .sub-menu-clientes .subtitulos{
        font-size: 100%;
    }
    .sub-menu-ventas .subtitulos{
        font-size: 100%;
    }
.mostrar{
    width: 98%;

}


}


/*1200----------------------------------------------------*/

@media only screen and (min-width : 1000px) and (max-width : 1200px){
    .horizontal li a {
        font-family: "Open Sans", sans-serif;
        text-decoration:none;
        display:block;
        font-size: 200%;
        font-weight:500;
    }
    .fa.fa-info-circle{
        font-size: 3em;

    }
    .fa.fa-user, .fa.fa-shopping-cart{
        font-size: 3em;
        margin-bottom: 5%;
    }
    .horizontal .inicio{
        width: 16%;
        background: #1A5276;
        height: 50%;
        display: none;

    }
    .horizontal .clientes{
        width: 24%;
        background: #008B8B;
        margin-bottom: 10%;
    }
    .horizontal .ventas{
        width: 24%;
        background: #FF8C00;
        margin-bottom: 10%;
    }
    .horizontal .recepcion{
        width: 23%;
        background: #2E8B57;
    }
    .horizontal .informes{
        width: 26%;
        margin-bottom: 10%;

        background: #00BFFF;
    }
    .papel{
        width: 20%;
        margin-left: 3%;
        margin-bottom: 5%;
    }

    .recepcionista{
        width: 30%;
    }

    .horizontal{
        margin-bottom: 40%;
    }

    .horizontal > li {
        float:left;
    }

    .horizontal li a {
        display:block;
        font-size: 90%;
        padding-top: 15%;
        font-weight: 200;

    }


    .horizontal  li:hover > ul {
        display:block;
    }

    .horizontal  li ul li {
        position:relative;
    }

    .horizontal  li ul li a:hover {
        background: grey;
    }

    .horizontal  li ul li ul {
        right:-140px;
        top:0px;
    }
    .sub-menu-informe{
        width: 157%;
        position: absolute;
        background: #00BFFF;
        right: 39.8px;
        z-index: 100;

    }
    .sub-menu-informe a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;

    }

    .sub-menu-clientes{
        width: 140%;
        position: absolute;
        background: #008B8B;
        right: 39.8px;
        z-index: 100;

    }
    .sub-menu-clientes a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;
    }

    .sub-menu-ventas{
        width: 150%;
        position: absolute;
        background: #FF8C00;
        right: 39.8px;
        z-index: 100;
    }
    .sub-menu-ventas a{
        display: block;
        padding: 1px;
        font-family: "Open Sans", sans-serif;;
        text-decoration: none;
    }
    .information-title{
        font-size: 22px;
        display: inline-block;
        width: 130px;
        margin-left: 16px;
        position: static;
    }
    .col-md-4{
        margin-bottom: 5%;
    }
    .sub-menu-informe  .subtitulos {
        font-size: 100%;
    }
    .sub-menu-clientes .subtitulos{
        font-size: 100%;
    }
    .sub-menu-ventas .subtitulos{
        font-size: 100%;
    }
}