nav.navbar.navbar-default.navbar-fixed-top{
	background:#094456;
}

a{
	color:white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	color:#094456;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color:white;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a{
	color:white;
	font-weight: 600;

}

.content{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.navbar{
	min-height:70px;
}

a.navbar-1{
	border-right:black 2px solid;
}

@media (min-width:768px) {
	.navbar-nav > li > a{
		padding-top:25px;
		padding-bottom:25px;
	}
}

a.login{
	font-weight: 600;
}

#espacio{
	height:50px;
	width:100%;
	border:#094456 1px solid;
	margin-top:70PX;
	background:white;
}
#nosotros{
	height:70px;
	width:100%;
	border:#106c88 1px solid;
	margin-top:70PX;
	color: white;
	background:#106c88;
}

.carousel-inner{
	width:100%;
	max-height:350px !important;
	margin: 0 auto;
	overflow: hidden;
}

img.tales{
	width:100%;
	margin: 0 auto;
	overflow: hidden;
}


body{
	background:#094456;
}

#reserva{
	margin-top:-295px;
	margin-left:72%;
	position:absolute;
	z-index:100;
	width:240px;
	height:240px;
	background:rgba(213,95,17,0.64);
}



.selector{
	height: 27px;
	font-size: 12px;
}


#cuadrito-login{
	border: white 1px solid;
	height: 35px;
	margin-top: 15px;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #383f42;
}

#cuadrito-login a{
	text-decoration: none;
}
#cuadrito-login a:hover{
	color: yellow;
}
#lista-login{
	padding-right: 20px;
}

#bienvenido{
	height: 120px;
	width: 850px;
	margin-top:-265px;
	margin-left:22%;
	position:absolute;
	z-index:100;
	color: white;
	font-family: Segoe UI;
	text-shadow: 1px 1px 10px grey;

}


.servicios{
	padding-left: 120px;
	padding-right: 70PX;
	padding-top: 10px;
	text-align: center;
	color: white;

}

#descripcion-no{
	background: white; border-right: 2px solid black; padding-top: 50px;
	padding-right: 70px; padding-left: 50px; padding-bottom: 70px;
}
#habitacion{
	height: 400px; background: white; padding-top: 10px;
}
#nosotros-c{
	 background: white; padding-top: 10px; height: 400px;
}
#servicios{
	height: 400px; background: white; padding-top: 10px
}
#galeria{
	height: 400px; background: white; padding-top: 10px
}
#eventos{
	height: 400px; background: white; padding-top: 10px
}
#contactenos{
	height: 460px; background: white; padding-top: 10px
}
@media (max-width:768px) {
	#bienvenido{
		margin-top: -160px;
	}
	html,
	body {
		height: 100%;
		width: 100%;
	}
	#reserva{
		padding-top: 1px;
		margin-top: 10px;
		margin-left: 30%;
		position:relative;
		z-index:0;
		width:240px;
		height:240px;
	}
	#habitacion{
		height: 1000px;
		right: 120px;
	}


	#descripcion-no{
		padding-top: 40px;
		padding-right: 40px; padding-left: 40px; padding-bottom: 30px
	}

	#galeria{
		height:1000px;
	}
	#eventos{
		height:800px;
	}
	#contactenos{
		height:800px;
	}
}

.btn-trans{
	background: #581E1E;
	border: 1px solid #95989A;
	border-radius: 0;
	color: white;
}

#cuadrito-no{
	height: 250px;
	box-shadow: 1px 1px 5px black;
}
.contacto{
	color: black;
	text-decoration: underline;
	width: 100px;
}
.contacto strong{
	padding-right: 30px;
}
#cuadrito-co {
	background: rgba(200, 90, 17, 0.64);
}
@media only screen and (min-width : 150px) and (max-width : 760px){
	#nosotros-c{
		background: white; padding-top: 10px; height: 800px;
	}
	#habitacion{
		height: 1200px; background: white; padding-top: 3px;
	}
	#servicios{
		height: 1200px; background: white; padding-top: 3px
	}
	#galeria{
		height: 1200px; background: white; padding-top: 10px
	}

	#contactenos{
		height: 900px; background: white; padding-top: 10px
	}

	body{
		width: 100%;
		overflow-x: hidden;
		overflow-y: visible;
	}
	#bienvenido{
		height: 150px;
		width: 290px;
		margin-top:-180px;
		margin-left:12%;
		position:absolute;
		z-index:100;
		color: white;

	}

#right{
	left: 52%;
}
.carousel-indicators{
	padding-right: 30%;
}
#habi{
	width: 400px;
}
	.contacto {
		color: black;
		text-decoration: underline;
		width: 10px;

	}
}
.error{
	color: red;
}